body {
    background-color: bisque;
}

h2 {
    color: rgb(63, 98, 129);
    text-align: center;
}

.Box {
    display: inline;
}

.infoBox {
    float: left;
    margin-left: 1%;
    font-size: 20px;
    font-weight: bolder;
}

.infoMenu {
    background-color: rgb(220, 223, 207);
    margin-bottom: 10%;
}

.game {
    background-color : rgb(214, 229, 190);
    float: right;
    width:84%;
    height: 50%;
    margin-right: 2%; 
}

.egg {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}

.GameOver {
    position: fixed;
    top: 30%;
    left: 35%;
    font-size: 100px;
    color: red;
    font-weight: bold;
    display: none;
}

.GameSuccess {
    position: fixed;
    top: 30%;
    left: 35%;
    font-size: 100px;
    color: rgb(43, 84, 92);
    font-weight: bold;
    display: none;
}